/** @format */

.footer {
  flex: 0 0 auto;
  background-color: #2e1d1e;
  background: #2e1d1e 0% 0% no-repeat padding-box;
  opacity: 1;
  padding:1em 0em 1em 4em;
  color: white;
  font-size: small;
}
